html body #app {
	height: 100vh;
	margin: 0;
	padding: 0;
	min-width: 1366px;
}
.el-cascader-menu{
  height: 300px;
}

 .el-breadcrumb {
    margin-bottom: 15px;
  }

  .el-table {
    margin-top: 15px;
    font-size: 12px
  }
	
	.el-alert {
		margin: 15px 0;
	}
	
	.el-steps {
		margin: 15px 0;
	}
	
	.ql-editor {
		min-height: 300px;
	}